streamlit 
pandas
numpy
scikit-learn
seaborn
nltk
matplotlib
string
wordcloud
sklearn.preprocessing
nltk.corpus
nltk.stem.porter
sklearn.feature_extraction.text
sklearn.model_selection
sklearn.naive_bayes
sklearn.metrics
pickle
